.App {
  text-align: center;
}

.navbar {
  background-color: #a0c293;
  height: 70px;
}

.navbar-toggler-icon {
  border: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: normal;
  transition: font-weight 0.3s;
}

.nav-link:hover {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.img-circle {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  border: #a0c293 solid 3px;
}

#contact {
  color: #a0c293;
}

.form-control {
  border: 1px solid #a0c293;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form-btn {
  background-color: #a0c293;
  color: white;
  border-radius: 10%;
}

.form-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

h1 {
  font-family: 'Suez One', serif;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .imgcircle {
    width: 80vw;
    height: auto;
    padding: 10px;
    border-radius: 50%;
  }

  .techlogo {
    height: auto;
    width: 80vw;
  }

  .main-navigation ul.nav-list {
    text-align: left;
  }

  .nav-link {
    text-decoration: none; /* Remove underline */
    color: white; /* Set color to white */
    font-weight: normal; /* Set initial font-weight */
    transition: font-weight 0.3s; /* Add transition effect for font-weight */
  }

  .nav-link:hover {
    font-weight: bold; /* Make it bolder on hover */
  }
  .nav-list-item {
    display: inline-block;
    line-height: 10px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 5px;
    cursor: pointer;
    color: white;
  }

  ul.nav-list {
    padding: 0 !important;
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #a0c293;
  z-index: 1;
}

.main-navigation ul.nav-list {
  text-align: left;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 25px;
  margin-left: 30px;
  margin-top: 15px;
  font-size: 25px;
  font-family: 'Suez One', serif;
  cursor: pointer;
  color: white;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
  animation-delay: 0.3s;
}

.nav-list li:nth-child(2) {
  animation-delay: 0.6s;
}

.nav-list li:nth-child(3) {
  animation-delay: 0.9s;
}

.nav-list li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
  animation-delay: 1.5s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

iframe {
  z-index: 0;
}

.card-body h5,
.card-body p {
  color: black;
}

a + a {
  margin-left: 20px;
}

.main-navigation ul li:last-child {
  float: right;
  margin-right: 30px;
}

.content-padding {
  padding-top: 80px; /* Adjust the value as needed */
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.navbar-toggler-icon {
  color: #87ae73;
}

footer {
  background-color: #a0c293;
  color: white;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: white;
}

.text-container {
  padding: 10px;
  border: 2px solid #a0c293;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.project-card {
  margin-bottom: 20px;
  border: 2px solid #a0c293;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.card-title {
  font-weight: bold;
}

.card-img {
  height: 200px;
  width: 50%;
  object-fit: cover;
  border-radius: 15%;
  margin: 20px 0;
}
